<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> navbar}}

    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias distinctio error excepturi
                    fugit nemo sapiente. Atque dolores fugiat ipsum.
                </p>
            </div>
            <div class="col-4">
                <img src="assets/images/tatoo.jpg"
                     alt="tatoo"
                     class="img-thumbnail">
            </div>
        </div>
    </div>

    {{> scripts}}
</body>
</html>